@media screen {
  .ad-container {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-position: center center;
    box-shadow: 0 4px 30px rgba(167, 133, 133, 0.1);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  }

  .ad-info {
    gap: 10px;
    flex: 70%;
    display: flex;
    padding:5px 4px;
    justify-content: center;
    flex-direction: column;
  }

  .ad-info h1 {
    font-size: .9rem;
    font-weight: 600;
  }

  .ad-info p {
    font-size: .6rem;
  }

  .ads-btn {
    width: 100%;
    padding: 6px;
    font-size: .7rem;
    border-radius: 20px;
    color: var(--background-color);
    background: var(--button-bg);
    
  }

  .ads-btn:hover {
    background: var(--background);
  }

  .ad-img {
    flex: 50%;
    background-size: cover;
    border-radius: inherit;
    background-repeat: no-repeat;
    background-position: center top;
  }
}
/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .ad-container {
    height: 100%;
  }

  .ad-info {
    gap: 5px;
    flex: 50%;
    padding: 10px;
    justify-content: space-between;
  }

  .ad-info h1 {
    font-size: 1.3rem;
  }

  .ad-info p {
    font-size: .8rem;
  }


  .ads-btn {
    width: 50%;
  }

  .ad-img {
    flex: 50%;
  }
}
