@media screen {
  .con-f {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;   
  }

  .sd-container {
    gap: 10px;
    width: 100%;
    display: flex;
    padding: 10px 0;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;
  }

  .fx-container {
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  .fx-container label{
    color: var(--background-color);
  }

  .date-fixt {
    width: 100%;
    border: none;
    display: flex;
    outline: none;
    padding: 10px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
  }

  .drop-container {
    gap: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
  }



  .drop-down {
    gap: 10px;
    width: 100%;
    display: flex;
    cursor: pointer;
    padding: 10px 5px;
    align-items: center;
    color: var(--secondary-color);
    justify-content: space-between;
    background-color: var(--primary-color);
  }

  .drop-down span {
    font-size: 0.9rem;
  }

  .active span {
    color: var(--secondary-color);

  }

  .active .drop-icon {
    fill: var(--secondary-color);

  }

  .drop-down:hover span {
    color: var(--secondary-color);
  }

  .drop-down-panel {
    top: 60px;
    z-index: 999;
    cursor: pointer;
    display: none;
    width: inherit;
    overflow: hidden;
    max-height: 300px;
    font-size: 0.8rem;
    border-radius: 4px;
    position: absolute;
    overflow-y: scroll;
    flex-direction: column;
    color: var(--secondary-color);
    background-color: var(--primary-color);
  }

  .game-drop-down {
    left: 0;
    top: 60px;
  }

  .no-data {
    display: flex;
    width: inherit;
    padding: 30px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-color);

  }

  .drop-item{
    gap: 10px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }

  .drop-item:hover {
    background-color: var(--secondary-color);
  }

  .drop-item span {
    font-size: .8rem;
  }

  .drop-item:hover span {
    color: var(--primary-color);

  }

  .drop-img {
    height: 24px;
    object-fit: cover;
    object-position: center;
  }
  
  .show {
    display: block;
  }
  
  .hide {
    display: none;
  }

  .form-container-h {
    display: flex;
    padding: 30px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: var(--secondary-color);
  }

 
  .form-container {
    gap: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    background-color: var(--primary-color);

  }

  .form-wrapper {
    gap: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    color: var(--background-color);
    border: 1px solid var(--light-color);
  }

  .form-wrapper h1 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 1rem;
  }

  .form-group {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .form-group label {
    font-size: .8rem;
    font-weight: 400;
  }

  .form-g-input {
    padding: 8px;
    border: none;
    outline: none;
    color: var(--background-color);
    background-color: var(--light-color);
  }

  .form-i-image {
    height: 50px;
    object-fit: contain;
    object-position: center;
  }

  .btn-f-f {
    padding: 12px;
    border-radius: 4px;
    background-color: var(--secondary-color);
  }

  .f-desktop {
    display: none;
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
 

  .form-con {
    height: 100%;
  }

  .con-f {
    flex-wrap: nowrap;
  }

  .sd-container {
    flex-direction: row;
  }

  .fx-container { 
    width: 200px;
  }


  .drop-container {
    width: 200px;

  }
  .form-container-h {
    padding: 40px 0;
  }

  .form-wrapper {
    width: fit-content;
  }

  .f-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .f-mobile {
    display: none;
  }

  .other-fw {
    width: 25%;
  }
}
