@media screen {
  .league-container {
    gap: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
  }

  .l-c-wrapper {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .league-header {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
  }

  .league-header h1 {
    font-size: .9rem;
    text-transform: capitalize;
    color: var(--background-color);
  }

  .league-header span {
    font-size: 0.9rem;
    cursor: pointer;
  }

  .league-icon {
    display: none;
  }

  .l-items-list {
    gap: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px 0;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .l-items-container {
    gap: 10px;
    min-width: 100%;
    display: flex;
    padding: 10px 0;
    align-items: center;
  }

  .l-items-image {
    width: 50px;
    height: 50px;
    border-radius: 360%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .league-container {
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  .league-header span {
    font-size: 0.8rem;
    display: none;
  }

  .league-header h1 {
    font-size: 0.8rem;
  }

  .league-icon {
    fill: var(--light-color);
    transform: rotate(90deg);
    display: flex;
    height: 18px;
    width: 18px;
  }

  .icon-active {
    transform: rotate(270deg);
  }

  .l-items-container {
    padding: 0;
  }

  .l-items-container span {
    cursor: pointer;
    display: contents;
    font-size: 0.8rem;
    text-transform: capitalize;
  }
  .l-items-list {
    padding: 0 ;
    max-height: 430px;
    overflow-y: auto;
    align-items: start;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: start;
  }

  .l-items-image {
    width: 30px;
    height: 30px;
  }
}
