@media screen {
  .payment-layout {
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .payment-layout h1 {
    font-size: 1rem;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
  }

  .Available-payments {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
    justify-content: space-between;
  }

  .selected {
    width: fit-content;
    border-bottom: 2px solid var(--red-color);
  }

  .payment-img-card {
    height: 80px;
    width: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .payment-image {
    height: 100%;
    width: auto;
    object-fit: contain;
    object-position: center;
  }

  .paypal {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .pay-input-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .pay-controller {
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .pay-input {
    border: none;
    padding: 10px;
    color: var(--background-color);
    background-color: var(--light-color);
    border: 1px solid var(--tertiary-color);
  }

  .pay-input::placeholder {
    color: var(--tertiary-color);
    text-transform: capitalize;
  }

  .btn-wp,
  .btn-pay {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-pay {
    padding: 8px;
    color: var(--background-color);
    background-color: var(--red-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .payment-layout {
    padding: 20px;
  }

  .payment-layout h1 {
    text-align: start;
  }
}
