@media screen {
  .user-container {
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .user-arrow-container {
    padding: 10px;
    display: flex;
    cursor: pointer;
    font-size: .8rem;
    align-items: center;
    justify-content: space-between;
    color: var(--background-color);
  }

  .user-arrow-container:hover {
    background-color: var(--tertiary-color);
  }

  .user-arrow {
    height: 15px;
    width: 15px;
    transform: rotate(180deg);
    fill: var(--background-color);
  }
  /* .hide-user {
    display: none;
  } */

  table {
    width: 100%;
  }
  
  .user-card {
    gap: 10px;
    width: 100%;
    padding: 8px;
    display: flex;
    border-radius: 12px;
    height: fit-content;
    flex-direction: column;
    min-width: fit-content;
    background-color: var(--primary-color);

  }

  .user-img {
    height: 120px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: inherit;
    justify-content: center;
    background-color: var(--tertiary-color);
  }

  .user-icon {
    width: 50px;
    height: 50px;
    fill: var(--background-color);
  }

  .user-info {
    width: 100%;
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    justify-content: space-between;
  }

  .user-info-dn {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  .user-in {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .user-in span,
  p {
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: underline;
    color: var(--tertiary-color);
    text-transform: capitalize;
  }

  .user-in h1 {
    font-size: .9rem;
    font-weight: 300;
    color: var(--background-color);

  }

  .user-span {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .user-span span {
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: underline;
    color: var(--tertiary-color);

  }

  .user-span h1 {
    font-size: .9rem;
    font-weight: 300;
    color: var(--background-color);

  }
  .Account-card.selected {
    color: var(--background-color);
    background-color: var(--light-color);
  }

  .selected .icon-acc {
    fill: var(--background-color);
  }
  .Account-game-p {
    gap: 20px;
    padding: 10px;
    display: flex;
    height: inherit;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: var(--background-color);

  }

  .Account-info {
    gap: 10px;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {

  .user-card {
    gap: 10px;
    height: 220px;
    width: 500px;
    flex-direction: row;
  }

  .user-img {
    height: 100%;
    width: 220px;
  }

  .user-in {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .user-in span,
  p {
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: underline;
    text-transform: capitalize;
  }

  .user-in h1 {
    font-size: 1rem;
    font-weight: 300;
  }

  .user-span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .user-span span {
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: underline;
  }

  .user-span h1 {
    font-size: 1rem;
    font-weight: 300;
  }

 
}
